.selector-page {
    
}

/* tag-buttons css is in components */
.tag-buttons.wrapper {

}

.submit-button {
	color:white;
  	background-color: black;
  	text-decoration: none;
  	padding: 8px;
  	border-radius: 4px;
  	position: absolute;
width: 155.73px;
height: 27.68px;
left: 146.08px;
top: 317.79px;
}

.submit-button-wrapper {
	display: block;
    color:white;
  	background: black;
  	text-decoration: none;
  	padding: 8px;
  	border-radius: 4px;
  	position: absolute;
width: 155.73px;
height: 27.68px;
left: 146.08px;
top: 317.79px;
}
