.selector-page {
  width: 100%;
  position: fixed;
  height: 75%;
  left: 0px;

  background: linear-gradient(180deg, #F9D2A4 0%, rgba(255, 255, 255, 0) 85.41%), rgba(251, 226, 197, 0.72);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 99;
  }

/* tag-buttons css is in components */
.tag-buttons-wrapper {
  margin-top: 60px;
}

.submit-button {
  width: 100%;
  height: 35.01px;
  left: 205.85px;
  top: 200px;

  font-family: Helvetica Neue, Arial;
  font-style: normal;
  font-weight: 300;
  font-size: 80%;
  line-height: 10px;

  color: #474747;
  background-color: transparent;
  border: none;
}

.submit-button-wrapper {
  position: fixed;
  margin-top: 380px;
  
  width: 50%;
  height: 35px;
  left: 95.72px;
  top: 100.32px;
  

  border: 1px solid #474747;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 27px;
}


.selector-page h1{
  position: absolute;
  left: 28%;
  top: 20px;
  text-align: center;
  font-family: Helvetica Neue, Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 90%;
  line-height: 17px;
  color: #474747;

}

.error-msg {
  position:absolute;
  left: 33%;
  font-style:italic;
  width: 280px;
  font-family: Helvetica Neue, Arial;
  
  font-weight: 300;
  font-size: 80%;
  line-height: 30px;

  color: #474747;
}