body {
  margin: 0;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans";
      -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#FFC4B7;
}

code {
  font-family: "Helvetica Neue", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
